body {
  height: 100%;
  padding: 20px 15% 20px;
  font-family: 'PT Sans Caption', Helvetica, Verdana, Arial, sans-serif;
}
#info_part {
  padding-top: 30px;
}
#footer {
  border-top: solid;
  border-top-color: #6c757d;;
  border-top-width: 1pt;
}
.footer_link {
  padding-right: 10px;
}
.title {
  color: black;
}
#blog_title {
  padding-bottom: 10px;
}
#error_msg {
  padding-top: 50px;
}
/*#info_panel {*/
/*  border-left: solid;*/
/*  border-left-width: 1pt;*/
/*  border-left-color: #6c757d;*/
/*}*/