{% extends 'blog/base.html' %}
{% block title %}{{request.settings_params.title}}{% endblock %}
{% block content %}
  {% if info %}
    <p>
      <em>{{ info }}</em>
    </p>
  {% endif %}
  {% for post in posts %}
    <h3>
      <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
      {% if request.is_staff_user %}
        <small>({{ post.get_status_display }})</small>
      {% endif %}
    </h3>
    <p>{{ post.body|truncatewords_html:50 }}</p>
  {% endfor %}
  {% if paginator.num_pages > 1 %}
    {% include "pagination.html" with page=page_obj page_range=paginator.page_range %}
  {% endif %}
{% endblock %}