[uwsgi]
plugins = python3
master = true
chdir = /var/blog
pythonpath = .
env = DJANGO_SETTINGS_MODULE=blog.settings
module = blog.wsgi:application
max-requests = 255
vacuum = True
processes = 3
http-socket = :32123
harakiri = 90
static-map = /static=/usr/lib/python3.7/site-packages/django/contrib/admin/static
static-map = /media=/var/media